In [1]:
import pandas as pd
import numpy as np

In [20]:
train_df = pd.read_csv('./data/train_df.csv')
train_df.head()

,Units Sold,Available Books in the shelf,Price,Week,NewYear,MLK,Presidents,GoodFriday,Memorial,Independence,Labor,Thanksgiving,Christmas,BookCode
0,6187.0,10146.68,14.474543,2019-01-06,1,0,0,0,0,0,0,0,0,22722
1,9123.0,15144.18,14.174504,2018-01-07,1,0,0,0,0,0,0,0,0,22722
2,6236.0,8356.24,14.150096,2019-01-13,0,0,0,0,0,0,0,0,0,22722
3,8080.0,11312.00,14.078218,2018-01-14,0,0,0,0,0,0,0,0,0,22722
4,5695.0,7289.60,14.238279,2019-01-20,0,0,0,0,0,0,0,0,0,22722

In [14]:
train =  pd.read_csv('./data/scaled_train.csv')
test = pd.read_csv('./data/scaled_train.csv')
target = pd.read_csv('./data/target.csv')

In [15]:
train.head()

,Available Books in the shelf,Price,Week,NewYear,MLK,Presidents,GoodFriday,Memorial,Independence,Labor,...,State_New Mexico,State_New York,State_Ohio,State_Oklahoma,State_Oregon,State_Tennessee,State_Texas,State_Utah,State_Washington,State_Wisconsin
0,-0.381936,1.830214,0.515339,7.713624,-0.190795,-0.129641,-0.129641,-0.129641,-0.159448,-0.223364,...,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607
1,-0.355926,1.767444,-0.973417,7.713624,-0.190795,-0.129641,-0.129641,-0.129641,-0.159448,-0.223364,...,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607
2,-0.391254,1.762337,0.543968,-0.129641,-0.190795,-0.129641,-0.129641,-0.129641,-0.159448,-0.223364,...,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607
3,-0.375871,1.747300,-0.944787,-0.129641,-0.190795,-0.129641,-0.129641,-0.129641,-0.159448,-0.223364,...,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607
4,-0.396806,1.780786,0.572598,-0.129641,-0.190795,-0.129641,-0.129641,-0.129641,-0.159448,-0.223364,...,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607

In [ ]:
train.

In [16]:
test.head()

,Available Books in the shelf,Price,Week,NewYear,MLK,Presidents,GoodFriday,Memorial,Independence,Labor,...,State_New Mexico,State_New York,State_Ohio,State_Oklahoma,State_Oregon,State_Tennessee,State_Texas,State_Utah,State_Washington,State_Wisconsin
0,-0.381936,1.830214,0.515339,7.713624,-0.190795,-0.129641,-0.129641,-0.129641,-0.159448,-0.223364,...,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607
1,-0.355926,1.767444,-0.973417,7.713624,-0.190795,-0.129641,-0.129641,-0.129641,-0.159448,-0.223364,...,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607
2,-0.391254,1.762337,0.543968,-0.129641,-0.190795,-0.129641,-0.129641,-0.129641,-0.159448,-0.223364,...,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607
3,-0.375871,1.747300,-0.944787,-0.129641,-0.190795,-0.129641,-0.129641,-0.129641,-0.159448,-0.223364,...,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607
4,-0.396806,1.780786,0.572598,-0.129641,-0.190795,-0.129641,-0.129641,-0.129641,-0.159448,-0.223364,...,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607,-0.223607

In [17]:
target.head()

   Units Sold
0      6187.0
1      9123.0
2      6236.0
3      8080.0
4      5695.0

In [ ]:
scaled_train.csv